NEXTCLOUD_ADMIN_LOGIN=admin
NEXTCLOUD_ADMIN_PASSWORD=repurpose-entree-lent
NEXTCLOUD_DB_PASSWORD=EjX9cUT4UL88EfH4VCHeB5ZmM56zzq
NEXTCLOUD_JWT_SECRET=3UHhGee2o6Hw3d5mnpG93bhRVt5Qg9
NEXTCLOUD_DOMAIN=nextcloud.local
